extends ./layout.jade

block content
    div.about
        h1 Our Story
            h2 App
            p Rewave is an app that connects with your computer and lets you control slides with your phone, giving you the ability to move freely (you don't need to stand infront of your computer to click a button) and present with style.

            p It's wireless, like a magic wand and very simple to use

            p Rewave works with Google Docs, Microsoft PPT, Slideshare, Prezi (and all others). It does so by mapping gestures to keyboard clicks. So when you tap on your screen, Rewave detects it and sends a message to the server saying, "Hey, click right button on the keyboard." and the server does so.

            h2 History
            p We started building Rewave in late 2014. At that time, the now CEO was 18 years old with no experience in mobile apps and little experience as a part time consultant for startups. Over time, we learnt and grew mature. Sometimes things got so tough that we felt like giving up on the idea. But we persisted. And the result was this simple app, that works like a charm.

            h2 Building Rewave
            p The internet is full of generous people willing to help you for free. We took help of hundreds of such people to build each part of the product. To pay it back, we have made an Open Company. Almost everthing we build at Rewave is open sourced and available on Rewave's Github ( 
                a(href="http://github.com/rewave", target="_blank") github.com/rewave
                |). Feel free to fork and build upon our work :)

            p Hope you like it. And in case you have any problem, we'll be more than happy to help you :)

            