extends ./layout.jade

block content
    div.contact: div.container
        div.text
            h1 Contact Us (and this panda)
            h2 We are all ears friend { to feedback, coffee or just to say hi }
            div: ul
                li.email Email us at 
                    a(href="mailto:entourage@rewaveapp.com?subject=Hello Rewave [Web Contact]")  entourage@rewaveapp.com
                
                li.facebook Message us on facebook 
                    a(href="http://facebook.com/rewaveapp") http://facebook.com/rewaveapp
                
                li.twitter Tweet tweet 
                    a(href="http://twitter.com/rewaveapp") @rewaveapp
        div.panda: img(src="../img/panda.png", alt="Contact Panda")