extends ./layout.jade
block content
	div.features: div.container
		div.feature
			h2 Works offline using Bluetooth
			img(src="../img/pages/features/bluetooth.png", alt="Bluetooth Icon")
			p Unlike others, Rewave works over bluetooth over a distance of 25-40 meters. So you can take Rewave to conferences where wifi might not be available

		div.feature
			h2 Full Screen Gesture Control
			img(src="../img/pages/features/full-screen.png", alt="Full Screen Icon")
			p To minimize control friction while presenting, you can tap anywhere on the screen to change slides. Single tap to go forward, double tap to go back

		div.feature
			h2 All  platforms covered
			img(src="../img/pages/features/all.png", alt="All platoforms covered")
			p Rewave is designed to work with all presentation platforms. Yes, all of them. Slideshare, MS PPT, Google Docs, Prezi, Haiku, Slid.es etc.

	div.features: div.container		
		div.feature
			h2 Bye bye shadows - Hello Pointer 
			p Hate the feeling when someone comes in front of the projector to point something on the slode ? Rewave comes with a pointer mode that lets you bring the mouse pointer over the slide so you can pin point a location without blocking view of the audience

			
		div.feature
			h2 No non-sense server
			p The server software you download to your computer runs automatically. So much so that it doesn't has even a single button. Also, it is very small in size (~6mb).

		div.feature
			h2 Fault Tolerence
			p Bluetooth communication sometimes gets hard, but we've spent a lot of time to ensure that your connection never drops. In case if it does, the app handles this well and easily re connects.