footer: div.container
    div.cta-again
        |Get started with Rewave today !
        include cta

    div.social
        |Like us ? Hate us ? Let's be friends. Tweet us.
        div.facebook: a(href="http://facebook.com/rewaveapp", alt="Rewave on facebook", target="_blank", onclick="track.facebookClicked()")
            img(src="../img/facebook.png", alt="facebook icon")

        div.twitter: a(href="http://twitter.com/rewaveapp", alt="Rewave on twitter", target="_blank", onclick="track.twitterClicked()")
            img(src="../img/twitter.png", alt="twitter icon")

        div.medium: a(href="http://medium.com/@rewaveapp", alt="Rewave on medium", target="_blank", onclick="mediumClicked()")
            img(src="../img/medium.png", alt="medium icon")
    
div.footer-nav
    include nav

script(type='text/javascript').
    if (window.location.host === 'rewaveapp.com'){
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53646344-1', 'auto');
        ga('send', 'pageview');
    }